<!DOCTYPE html>
<html>
<head>
  <title>PushModoDrawing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%=  render partial: "layouts/navigation" %>
  <div class="container">
    <%= render partial: "layouts/bootstrap_flash" %>
    <%= yield %>
  </div>
  <%= yield :scripts %>
</body>
</html>
